@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat&family=Oswald:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #199fa2;
  font-family: "Oswald", sans-serif;
  margin: 0;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 25px;
  top: 14px;
}
@media (min-width: 600px) and (max-width: 1920px) {
  ul {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #fff;
    font-family: "Inter", sans-serif;
    margin: 25px 25px 0 0;
    padding: 0;
    justify-content: end;
  }

  ul a {
    text-decoration: none;
    color: inherit;
    transition: 0.25s;
  }

  a:hover {
    color: #93b4df;
  }
}
/* Стили для гамбургер меню  */
@media (max-width: 600px) {
  .bg {
    display: flex;
    width: 158px;
    height: 148px;
    border-radius: 10px 0px;
  }
  .menu-btn {
    left: 125px;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  .menu-btn span {
    width: 28px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    transition: all 0.5s;
  }
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 7px);
  }
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 7px);
  }
  nav {
    position: fixed;
    top: 10;
    right: -1000px;
    width: 158px;
    height: 148px;
    border-radius: 10px 0px 10px 10px;
    padding: 15px;
    background: white;
    transform: translateX(100%);
    transition: 0.5s ease;
  }
  nav.active {
    position: fixed;
    right: 25px;
    transform: translateX(0);
  }
  .menu-btn.active span:nth-of-type(1) {
    background-color: #199fa2;
    display: none;
  }
  .menu-btn.active span:nth-of-type(2) {
    background-color: #199fa2;
    border-radius: 5px;
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active span:nth-of-type(3) {
    background-color: #199fa2;
    border-radius: 5px;
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }

  ul {
    list-style: none;
    gap: 20px;
    color: #ffff;
    font-family: "Inter", sans-serif;
    margin: 25px 25px 0 0;
    padding: 0;
    justify-content: end;
    transition: 0.5s;
  }

  ul a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #199fa2;
  }
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
  margin-top: 45px;
}

h1 {
  font-weight: 700;
  font-size: 96px;
  color: #ffff;
  text-align: center;
  margin: 30px 0;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #f6d052;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 59px;
  color: #ffff;
  margin: 30px 0 70px;
  width: 225px;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: right;
  color: #f6d052;
  margin: 0 0 0 auto;
}

footer {
  margin-top: 85px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 212px;
}

.card {
  background-color: #ffff;
  width: 180px;
  height: 49px;
  margin-left: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card a {
  font-weight: 600;
  font-size: 20px;
  color: #199fa2;
  text-decoration: none;
  transition: 0.5s;
}

.card a:hover {
  color: #6da5ee;
}

.card-click {
  margin-top: 12px;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 111px 100%);
}
.fr_bg {
  width: 100%;
  height: 100%;
  background: url(../img/flowers.png) no-repeat center/cover;
  position: absolute;
  top: 0;
  z-index: -1;
  clip-path: polygon(0% 100%, 302px 0%, 100% 0%, 100% 100%);
}
a:hover {
  color: #c7c3c3;
}
